
name: Build Android App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles(''**/gradle-wrapper.properties'') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Cache NPM dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles(''**/package-lock.json'') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install web dependencies
        run: npm install

      - name: Build web app
        run: npm run build
      
      - name: Sync web app with Capacitor
        run: npx cap sync android
      
      - name: Grant execute permission for gradlew
        run: chmod +x android/gradlew
      
      - name: Create google-services.json
        run: echo '''${{ secrets.GOOGLE_SERVICES_JSON }}''' > android/app/google-services.json

      - name: Decode and create Keystore
        run: echo '''${{ secrets.KEYSTORE_JKS_B64 }}''' | base64 --decode > android/app/bematch.jks

      - name: Build Android App Bundle
        working-directory: ./android
        run: ./gradlew bundleRelease
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Upload AAB Artifact
        uses: actions/upload-artifact@v3
        with:
          name: app-release
          path: android/app/build/outputs/bundle/release/app-release.aab
