rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // 1. Profil Fotoğrafları
    match /users/{userId}/photos/{photoId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // 2. Sohbet Resimleri
    match /chats/{matchId}/images/{imageId} {
       allow read, write: if request.auth != null 
                          && exists(/databases/$(database)/documents/matches/$(matchId)) 
                          && request.auth.uid in get(/databases/$(database)/documents/matches/$(matchId)).data.users;
    }

    // 3. Sohbet Ses Kayıtları
    match /chats/{matchId}/voice_messages/{audioId} {
       allow read, write: if request.auth != null 
                          && exists(/databases/$(database)/documents/matches/$(matchId)) 
                          && request.auth.uid in get(/databases/$(database)/documents/matches/$(matchId)).data.users;
    }

    // 4. ŞİKAYET / RAPORLAR (GÜNCELLENDİ - KESİN ÇÖZÜM)
    // "allPaths=**" diyerek klasör derinliği sorununu ortadan kaldırdık.
    // Reports altına ne gelirse gelsin, üye olan herkes yazıp okuyabilir.
    match /reports/{allPaths=**} {
       allow read, write: if request.auth != null;
    }
    
  }
}
