rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // 1. Profil Fotoğrafları
    // Kullanıcılar sadece kendi profil fotoğraflarını yükleyebilir. Herkes okuyabilir.
    match /users/{userId}/photos/{photoId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // 2. Sohbet Resimleri
    // Kullanıcılar sadece parçası oldukları bir sohbete resim yükleyebilir.
    match /chats/{matchId}/images/{imageId} {
       allow read, write: if request.auth != null 
                          && exists(/databases/$(database)/documents/matches/$(matchId)) 
                          && request.auth.uid in get(/databases/$(database)/documents/matches/$(matchId)).data.users;
    }

    // 3. Sohbet Ses Kayıtları
    // Kullanıcılar sadece parçası oldukları bir sohbete ses kaydı yükleyebilir.
    match /chats/{matchId}/voice_messages/{audioId} {
       allow read, write: if request.auth != null 
                          && exists(/databases/$(database)/documents/matches/$(matchId)) 
                          && request.auth.uid in get(/databases/$(database)/documents/matches/$(matchId)).data.users;
    }
    
  }
}
