name: Encode Keystore

on:
  workflow_dispatch:

jobs:
  encode:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Encode Keystore to Base64
        id: base64_keystore
        run: echo "encoded=$(base64 -w 0 release-key.keystore)" >> $GITHUB_OUTPUT

      - name: Echo Base64 String
        run: echo "Your KEYSTORE_BASE64 is: ${{ steps.base64_keystore.outputs.encoded }}"
